            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" src="img/avatar-round-1.png">
                                <h5>Facebook</h5>  </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" src="img/avatar-round-3.png">
                                <h5>AWS</h5>  </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" src="img/avatar-round-2.png">
                                <h5>Google Ads</h5>  </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" src="img/avatar-round-4.png">
                                <h5>Mailchimp</h5>  </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" src="img/avatar-round-5.png">
                                <h5>Heroku</h5>  </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-8"> <img alt="Image" src="img/avatar-round-6.png">
                                <h5>Drip</h5>  </div>
                        </div>
                    </div>
                </div>
            </section>